@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --subtle: 0 0% 98%;
    --elevated: 240 5% 96%;
    --strong: 240 6% 90%;

    --foreground: 240 10% 4%;
    --foreground-subtle: 240 4% 16%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;

    --primary: 212 73% 49%;
    --primary-foreground: 0 0% 100%;
    --primary-soft: 212 70% 95%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 240 10% 4%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 240 4% 46%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 212 73% 49%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --destructive-muted: 0 86% 97%;

    --success: 163 94% 24%;
    --success-foreground: 0 0% 100%;
    --success-muted: 138 76% 97%;

    --warning: 35 92% 33%;
    --warning-foreground: 0 0% 100%;
    --warning-muted: 32 100% 97%;
    --warning-bright: 41 96% 40%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 10% 4%;
    --link: 224 64% 33%;

    --radius: 0.5rem;

    --font-open-sans: "Open Sans Variable", sans-serif;
    --font-montserrat: "Montserrat Variable", sans-serif;
    --font-mplus-1: "M PLUS 1 Variable", sans-serif;
    --font-body: var(--font-open-sans);
    --font-heading: var(--font-montserrat);
  }

  /* .dark {
    --background: 240 10% 4%;
    --foreground: 210 40% 98%;

    --card: 240 10% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 240 10% 4%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --placeholder: 240 4% 46%;
  } */

  html[lang="ja"] {
    --font-body: var(--font-mplus-1);
    --font-heading: var(--font-mplus-1);
    color: hsl(var(--foreground));
  }

  body {
    overflow: hidden;
  }
}

@layer base {
  .page-title {
    @apply text-foreground text-3xl font-semibold leading-[2.625rem];
  }

  .table-title {
    @apply text-foreground text-xl font-semibold leading-8;
  }

  .sidebar {
    @apply fixed top-0 bottom-0 left-0 z-20 md:static;
    --sidebar-width: 280px;
  }

  .sidebar.is-minimized {
    @apply left-[-78px] md:left-auto;
    --sidebar-width: 78px;
  }

  .bottom-nav-item.active,
  .bottom-nav-item[data-state="open"] {
    @apply text-primary;
  }

  @media only screena and (max-width: 1025px) {
    .sidebar {
      --sidebar-width: 78px;
    }
  }
}

.animate-spin1 {
  animation: name 1s infinite;
}

@keyframes name {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
